# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib


# Qt-es
/.qmake.cache
/.qmake.stash
.qtc_clangd/*
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
*.qm
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# Visual Studio
.vs/*
!.vs/launch.vs.json

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# MSBuild Binary and Structured Log
*.binlog

#Linux libs
*.so.*

#Libs
!libs/**

#Build Output
out/*
build/*
AppDir/*
*.AppImage

#macos
.DS_Store
.AppleDouble
.LSOverride
Icon[]
._*

#Translations
translations/sACNView\.ts

#Breakpad
libs/breakpad/
