#---------------------------------#
#      general configuration      #
#---------------------------------#

# branches to build
#branches:
#  # whitelist
#  only:
#    - master

# Start builds on tags only
#skip_non_tags: true

# Build worker image (VM template)
image: Visual Studio 2015

#---------------------------------#
#       build configuration       #
#---------------------------------#

version: '{build}'

environment:
  matrix:
    - QT_Ver: 5.10.0
    - QT_Ver: 5.6

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: x86

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

build:
  parallel: true                  # enable MSBuild parallel builds

  # MSBuild verbosity level
  verbosity: detailed

install:
  # MSVC Paths
  # https://www.appveyor.com/docs/lang/cpp/#visual-studio
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x86

  # QT Paths
  # https://www.appveyor.com/docs/build-environment/#qt
  - set QTDIR=C:\Qt\%QT_Ver%\msvc2015
  - set PATH=%PATH%;%QTDIR%\bin

  # NSIS Paths
  # https://www.appveyor.com/docs/build-environment/#tools
  - set PATH=%PATH%;C:\Program Files (x86)\NSIS

  # NSIS Plugin (SimpleFC)
  - appveyor DownloadFile http://nsis.sourceforge.net/mediawiki/images/d/d7/NSIS_Simple_Firewall_Plugin_1.20.zip
  - 7z e NSIS_Simple_Firewall_Plugin_1.20.zip -o"C:\Program Files (x86)\NSIS\Plugins\x86-ansi" SimpleFC.dll

build_script:
  - qmake
  - nmake

artifacts:
  - path: install\win\*.exe
