[Desktop Entry]
Type=Application
Name=sACNView 2
Exec=/opt/sacnview/bin/sACNView
Icon=sACNView
Comment=Streaming ACN Viewer mark2
Categories=Network;
Terminal=false
